.button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background-color: hsl(255, 90%, 67%);
  // color: hsl(255, 90%, 2%);
  color: hsl(0, 57%, 95%);
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  
  i {
    margin-left: .5rem;
  }
  
  &:hover {
    background-color: hsl(255, 90%, 57%);
  }
}