body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  min-height: 100vh;
  
  overflow: hidden;
  font-family: 'Anuphan', sans-serif;

  // background-color: rgb(7, 6, 10);
  background-color: hsl(255, 90%, 2%);
  color:hsl(255, 90%, 98%);
  font-size: 1.1rem;

  padding-bottom: 200px;
}

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1000px;

  margin: 0 auto;
}

.mainColor {
  color: hsl(255, 90%, 67%);
}